Source: ros-dashing-joint-state-publisher
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-dashing-ament-copyright, ros-dashing-ament-xmllint, ros-dashing-launch-testing, ros-dashing-launch-testing-ros, ros-dashing-ros-workspace, python3-all, python3-setuptools
Homepage: http://www.ros.org/wiki/joint_state_publisher
Standards-Version: 3.9.2

Package: ros-dashing-joint-state-publisher
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-dashing-rclpy, ros-dashing-sensor-msgs, ros-dashing-std-msgs, ros-dashing-ros-workspace
Description: This package contains a tool for setting and publishing joint state values for a given URDF.
